@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: antiquewhite;
}

.board-section {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.thread-section {
  width: 70%;
}

.thread-section .single-thread {
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, lightpink   5%);
  color:antiquewhite;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 1px 0px 4px #201f1f;
  padding: 30px 20px;
  border-radius: 5px;
  margin:20px; 
}

.form-section {
  box-shadow: 1px 0px 3px #474747;
  border-radius: 5px;
  padding: 15px 100px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.input-section input {
  padding: 10px;
  margin-bottom: 10px;
}

.input-section button {
  padding: 3px 10px;
}
h1 { 
  margin-left: 50px;
  margin-right: 50px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 1px 0px 4px #201f1f;
  padding: 30px 20px;
  border-radius: 5px;
  margin:20px; 
/*  */
  color: lightpink; 
  font-family: "Great Vibes", cursive; font-size: 50px; 
  line-height: 45px; 
  font-weight: normal; 
  margin-bottom: 50px; 
  margin-top: 40px; text-align: center; 
  text-shadow: 0 1px 1px #fff; 
  position: relative;
  padding: 0.2em 0.5em;
  width: 12em;
  height: 2em;
  line-height:2em!important;
  background: -webkit-linear-gradient(to right,blue, #ffc994);
  background: linear-gradient(to right, #ffdeda, lightpink);
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  position: relative; 

}

input{
  text-align: center;
  background-color: #ffdeda;
  outline: 0;
  width:195px;
  height:70px;
}

.button,
.button:after {


  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;


  width: 150px;
  max-width: 300px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, lightpink   5%);
  border: 0;
  color:antiquewhite;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: '            ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, antiquewhite 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button,
  .button:after {
    width: 200px;
    height: 86px;
    line-height: 20px;
    margin-bottom: 17px;
  }
}
#inputContent{
  background-color: #ffdeda;
  text-align: center;
  
}